
.busk-home-page-navigation {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 100;
}

.busk-about-page-body-header {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
}

.busk-about-page-body {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
}

.busk-project-page-body {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 24px;
}

.busk-project-page-credits {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
}

.busk-project-page-margin-list-header {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
}

.busk-project-page-margin-list {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 100;
}


.busk-project-page-client-name {
  font-family: mr-eaves-xl-modern;
  font-size: 22px;
  font-weight: 200;
}

.busk-project-page-title-name {
  font-family: mr-eaves-xl-modern;
  font-size: 30px;
  font-weight: 300;
}


